/* $Id$ */

.field .field-label,
.field .field-label-inline,
.field .field-label-inline-first {
  font-weight:bold;
}

.field .field-label-inline,
.field .field-label-inline-first {
  display:inline;
}

.field .field-label-inline {
  visibility:hidden;
}

.node-form .number {
  display: inline;
  width: auto;
}

.node-form .content-add-more .form-submit{
  margin: 0;
}


