/* $Id$ */

table.content-field-overview, table.content-field-overview fieldset table {
  width:100%;
}
table.content-field-overview td {
  width:14%;
}
.content-field-overview .content-field-overview-disabled {
  filter:alpha(opacity=50);
   -moz-opacity: .50;
   opacity: .50;
}
.content-field-overview-empty {
  text-align:center;
}

