/* $Id$ */

/* 'Manage fields' overview */
#content-field-overview-form .advanced-help-link,
#content-display-overview-form .advanced-help-link {
  margin: 4px 4px 0 0;
}
#content-field-overview-form .label-group,
#content-display-overview-form .label-group,
#content-copy-export-form .label-group {
  font-weight: bold;
}
table#content-field-overview .label-add-new-field,
table#content-field-overview .label-add-existing-field,
table#content-field-overview .label-add-new-group {
  float: left;
}
table#content-field-overview tr.content-add-new .tabledrag-changed {
  display: none;
}
table#content-field-overview tr.content-add-new .description {
  margin-bottom: 0;
}
table#content-field-overview .content-new {
  font-weight: bold;
  padding-bottom: .5em;
}


